spotipy
requests
python-dotenv
openai
librosa==0.10.1
fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0
python-multipart==0.0.6
numpy
scipy
scikit-learn
redis
mutagen==1.47.0
debugpy
soundfile==0.12.1
youtube-dl==2021.12.17
serato-tools==1.8.0
pymongo==4.6.0
essentia
